.slideshow-wrapper {
    background-image: url('https://i.ibb.co/0jqHpnp/sneakers.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}