.pageoveray{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    visibility: hidden;
    opacity: 1;
    background: #363636;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    
    
}
.visible{
    opacity: 0.5;
    visibility: visible;
}
