.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 0px;

  .feature-container {
    width: 100%;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: color 0.2s ease-in-out;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 70px;
    .feature-subheading {
      font-size: 12px;
      
    }

    .feature-heading {
      //width: 100%;
      margin-top: 16px;
      font-size: 20px;
     
    }
  }
}
