.footer-section {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6a6a6a;
  background: #fff;
  line-height: 1.65;
  margin-top: 0px;
  padding: 75px 0 42px 0;

  .footer-title {
    color: #1c1b1b;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-style: normal;
  }

  .footer-container {
    //padding: 0 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .footer-block {
      margin-bottom: 50px;
      padding-left: 40px;
      padding-right: 40px;
      flex: 0 1 auto;
    }

    .footer-text {
      margin-top: 0;
      flex-basis: 460px;

      .footer-content {
        font-size: 14px;
        font-weight: 400;
      }
    }

    .footer-links{
        margin-top: 0;

        .footer-linklist{
            font-size: 14px;
            margin: 0;
            padding: 0;
            list-style: none;

            .linklist-item{
                position: relative;
                display: block;
                margin-bottom: 12px;
                width: 100%;
                line-height: 1.5;
                text-align: left;
                transition: all 0.2s ease-in-out;
                
                .link-primary{
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
  }
}
