.footer-section {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6a6a6a;
  background: #fff;
  line-height: 1.65;
  margin-top: 0px;
  padding: 75px 0 42px 0;

  .footer-title {
    color: #1c1b1b;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-style: normal;
  }

  .footer-container {
    padding: 0 50px;
    margin: 0 auto;

    .footer-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: -40px;
      margin-right: -40px;

      .footer-block {
        margin-bottom: 50px;
        padding-left: 40px;
        padding-right: 40px;
        flex: 1 1 50%;
      }

      .footer-text {
        margin-top: 0;
   

        .footer-content {
          font-size: 14px;
          font-weight: 400;
        }
      }

      .footer-links {
        margin-top: 0;

        .footer-linklist {
          font-size: 14px;
          margin: 0;
          padding: 0;
          list-style: none;

          .linklist-item {
            position: relative;
            display: block;
            margin-bottom: 12px;
            width: 100%;
            line-height: 1.5;
            text-align: left;
            transition: all 0.2s ease-in-out;

            .link-primary {
              text-decoration: none;
              color: inherit;
            }
          }
        }
      }
    }

    .footer-aside {
      margin-top: 80px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer-copyright {
        display: flex;
        align-items: center;
        line-height: normal;

        .footer-storename {
          color: #1c1b1b;
          font-family: Montserrat, sans-serif;
          font-size: 11px;
          font-weight: 600;
          font-style: normal;
          transition: color 0.2s ease-in-out;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          text-decoration: none;
        }
      }

      .footer-paymentlist {
        padding: 0;
        margin: 0 -8px;
        border: none;

        .horizontallist-item {
          display: inline-block;
          margin: 6px 8px 6px 8px;
          list-style: none;
        }
      }
    }
  }
}
