body {

  font-family: "Montserrat", sans-serif;
  margin:0;
  font-weight: 400;
  font-style: normal;
  color: #1c1b1b;
  background: #f2f2f2;
  line-height: 1.65;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:focus {
  outline: none;
}


*, *:before, *:after {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}