@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.announcement-wrapper {
    display: flex;
    min-height:40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f94c43;

    .announcement {
      font-size: 11px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      letter-spacing: 0.2em;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: aliceblue;
      font-weight: bold;
      padding:10px;

    }
  }
  